IGSN_GeoSamples_by_GFZ_DataServices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:igsn="https://github.com/anti101/IGSN-Schema-by-GFZ-Data-Services/blob/4512baa54ed047140ff47dd8b834f6e6eaa9ca50/IGSN_GeoSamples_by_GFZ_DataServices.xsd">
	<xs:include schemaLocation="enumerations.xsd"/>
	<xs:import namespace="http://datacite.org/schema/kernel-4" schemaLocation="DataCite4.7/20260316_schema_annotation.xsd"/>
	<xs:element name="resource">
		<xs:annotation>
			<xs:documentation>Root element of a single record. This wrapper element is for XML implementation only 
				and is not defined in the IGSN metadata schema.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CoreElements">
					<xs:annotation>
						<xs:documentation>Wrapper containing core elemnts for every type of sample</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="identifier">
								<xs:annotation>
									<xs:documentation>This element is used to store the identifier of the resource, thereby ensuring that the resource can be uniquely identified</xs:documentation>
									<xs:appinfo>test</xs:appinfo>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="identifierType" type="relatedIdentifierType" use="required" fixed="DOI">
												<xs:annotation>
													<xs:documentation>The type of Identifier. Mandatory for registration with DataCite</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="access" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Indicates whether this resource is available for reuse beyond the original contributor.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="accessType" type="accessType">
										<xs:annotation>
											<xs:documentation>Indicates the type of access</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="archive" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>shows where the sample is currently located</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="archiveName">
											<xs:annotation>
												<xs:documentation>This element allows the storage location of the sample to be specified by name</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nameIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>This element contains the identifier, which is used to uniquely identify the archive the Sample is stored at</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="nameIdentifier"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="lang" fixed="en" type="englishLanguage">
													<xs:annotation>
														<xs:documentation>distinguishes the language</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="geoLocationPlace" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>option to specify a location without providing coordinates; this feature allows you to enter a location without specifying coordinates, whilst still establishing a geographical connection to the data</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="nameIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>This element contains the identifier, which is used to uniquely identify the person or organization given in the parent element e.g. the Contributer or the Archive</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="nameIdentifier"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="lang" fixed="en" type="englishLanguage">
													<xs:annotation>
														<xs:documentation>distinguishes the language</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="geoLocationPoint" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>a geographical point described by a single pair of latitude and longitude coordinates</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="point">
														<xs:attribute name="coordinateSystem" use="required" fixed="WGS84" type="coordinateSystem">
															<xs:annotation>
																<xs:documentation>This attribute is necessary to ensure, regardless of the system used, that the coordinates can be assigned to the correct coordinate system. </xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="contributor" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Contact person regarding the sample. This person is authorised to decide whether the sample can be processed further and how it is to be retrieved from the archive.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="contributorName">
														<xs:annotation>
															<xs:documentation>full name</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="nameType" type="nameType" use="required" fixed="Personal">
																		<xs:annotation>
																			<xs:documentation>type of the contributer. Contributers may be persons or institutions.</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																	<xs:attribute name="lang" fixed="en" type="englishLanguage">
																		<xs:annotation>
																			<xs:documentation>distinguishes the language</xs:documentation>
																		</xs:annotation>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="givenName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Given Name of the Person</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="familyName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Family Name of the Person</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="nameIdentifier" type="nameIdentifier" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Uniquely identifies an individual or legal entity, according to various schemes.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="affiliation" type="affiliation" minOccurs="0">
														<xs:annotation>
															<xs:documentation>The contributor's nameType may be Organizational or Personal. In the case of an organizational contributor, e.g., a research group, this will often be the name of the institution to which that organization belongs.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="contributorType" type="contributorType" fixed="ContactPerson">
													<xs:annotation>
														<xs:documentation>The type of contributor of the resource.</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="dates">
								<xs:annotation>
									<xs:documentation>contains all the dates, in regads to the sampel and the metadata</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>any date relevant for the samle or the metadata entry</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="dateType" type="dateType" use="required">
															<xs:annotation>
																<xs:documentation>This attribute is used to provide a more detailed description of the 'date' element in order to unambiguously identify what the 'date' element refers to</xs:documentation>
															</xs:annotation>
														</xs:attribute>
														<xs:attribute name="dateInformation" type="xs:string" use="optional">
															<xs:annotation>
																<xs:documentation>specific information about the date</xs:documentation>
															</xs:annotation>
														</xs:attribute>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
